// COLORS
$primary-color: #200122;
$secondary-color: #6f0000;

$white-color: #E8CBC0;

$dark-grey: #000C40;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
